.gnav {
  margin: 0;
}

.gnav .gnav__menu {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gnav .gnav__menu .gnav__menu__item {
  flex: 1;
}

.gnav .gnav__menu .gnav__menu__item a {
  background: #fff;
  border-right: 1px solid #ccc;
  color: #333;
  display: block;
  padding: 0.6em 0.4em;
  text-align: center;
  text-decoration: none;
}

.gnav .gnav__menu .gnav__menu__item a:hover {
  background: #ccc;
  color: #ffffff;
}

.gnav .gnav__menu .gnav__menu__item:last-child a {
  border-right: none;
}

#modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 120%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

@media screen and (max-width: 780px) {
  .gnav .gnav__menu {
    -webkit-transform: translate(-50%, -50%);
    background: #fff;
    display: none;
    height: auto;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 100;
  }
  .gnav .gnav__menu .gnav__menu__item a {
    border-bottom: 1px solid #ccc;
    border-right: none;
  }
  .gnav .gnav__menu .gnav__menu__item:last-child a {
    border-bottom: none;
  }
}
