{% extends "menu_base.html" %}
{% load static %}
{% block body %}
<style>
    canvas {
        background-color: white;
        border: solid 5px black;
    } 
</style>    
<div align="center">
<form action="{% url 'hello_handwritingRecogExecute' %}" method="get">
    <form name="js">
    <h1 id="hello_text">Hello World</h1>
    <script type="text/javascript" src="{% static 'js/canvas_req.js' %}"></script><br>
    <canvas id="canvas" name="canvas" width="300" height="300"></canvas>
    <script type="text/javascript" src="{% static 'js/canvas_rule.js' %}"></script><br>
    お名前：<input type="text" name="nameCanvas" value=""><br>
    <input type="button" value="作成" onclick="req()"> 
    <input type="button" value="消去" onclick="clr()"> <br> 
    <div><img id="newImg" name="newImg"></div>  
    
    <br>{{ message }}<br><br>
    <input type="submit" value="送信">
    
    </form>
</form>
</div>
{% endblock %}


