
{% extends "home_base.html" %}

{% block body %}

{% load static %}

<div class="hero"><img src="{% static 'img/logo.png' %}" alt="hero"></div>

<div align="center">
    
    <br>
    <hr>
    
    <p class="color_white size1"> サイト管理者より </p>
    
    <p class="color_white size4">工事中。<br> 気が向けば変わる、かも。かも。</p>
    
    <br>
    
    <hr>
    
    <h1> 主なリンク </h1>
    
    <div>
    <a href="{% url 'hello_insertAccountEntry' %}">アカウント登録</a><br>
    </div>
    
    <div>
    <a href="{% url 'hello_memoEntry' %}">メモ</a><br>
    </div>
    
    <div>
    <a href="{% url 'hello_subContent' %}">サブコンテンツ</a><br>
    </div>

    
    
    <hr>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    
</div>
    
    

{% endblock %}