{% extends "menu_base.html" %}

{% block body %}
    

    <h1> メニュー </h1>
    <hr>

<div align="center">
    
    ID: {{ user_id }} <br>
    PASS: {{ password }}<br>
    
    <br>
    
    <div>
    <a href="{% url 'hello_insertAccountEntry' %}">アカウント登録</a><br>
    </div>
    
    <div>
    <a href="{% url 'hello_memoEntry' %}">メモ</a><br>
    </div>
    
    <div>
    <a href="{% url 'hello_subContent' %}">サブコンテンツ</a><br>
    </div>
    
    <div>
    <a href="{% url 'users_loginEntry' %}">ユーザ型アプリケーション</a><br>
    </div>

    
    
    <hr>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    <h4>あいう</h4><br><br>
    
</div>
    
    

{% endblock %}